*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-weight: 400px;

}
header{
   max-width: 1920px;
   max-height: 1322px;
   background-color: #ff8f0e10;
}
nav{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    max-width: 1440px;
}
 nav ul{
    display: flex;
    gap: 30px;
    margin-top: 63px;
 }
 nav li{
    list-style-type: none;
 }
 nav li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
    line-height: 26px;
    color: #424242;
 }
 .g3{
   font-size: 45px;
   font-style: 700px;
   color: #131313;
   margin-top: 50px;
   margin-bottom: 102px;
 }
 #banner{
   margin: 0 auto;
 }
 .banner-container{
   max-width: 862px;
   margin: 0 auto;
   text-align: center;
 }
 .banner-container h2{
   font-size: 64px;
   font-weight: 700px;
   color: #131313;
   margin-bottom: 32px;
 }
 .banner-container p{
   font-size: 16px;
   line-height: 26px;
   color: #727272;
   margin-bottom: 32px;
 }
 .btn{
   max-width: 180px;
   background-color: #FF900E;
   color: #FFFFFF;
   padding: 21px 24px 20px 25px;
   font-size: 20px;
   font-weight: 600px;
   border-radius: 8%;
   margin-bottom: 50px;
 }
 .image{
   max-width: 1440px;
   width: 100%;
   max-height: 700px;
   padding-bottom: 45px;
 }