*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-weight: 400px;

}
header{
   max-width: 1920px;
   max-height: 1322px;
   background-color: #ff8f0e10;
}
nav{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    max-width: 1440px;
}
 nav ul{
    display: flex;
    gap: 30px;
    margin-top: 63px;
 }
 nav li{
    list-style-type: none;
 }
 nav li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
    line-height: 26px;
    color: #424242;
 }
 .g3{
   font-size: 45px;
   font-style: 700px;
   color: #131313;
   margin-top: 50px;
   margin-bottom: 102px;
 }
 #banner{
   margin: 0 auto;
 }
 .banner-container{
   max-width: 862px;
   margin: 0 auto;
   text-align: center;
 }
 .banner-container h2{
   font-size: 64px;
   font-weight: 700px;
   color: #131313;
   margin-bottom: 32px;
 }
 .banner-container p{
   font-size: 16px;
   line-height: 26px;
   color: #727272;
   margin-bottom: 32px;
 }
 .btn{
   max-width: 180px;
   background-color: #FF900E;
   color: #FFFFFF;
   padding: 21px 24px 20px 25px;
   font-size: 20px;
   font-weight: 600px;
   border-radius: 8%;
   margin-bottom: 50px;
 }
 .image{
   max-width: 1440px;
   width: 100%;
   padding-bottom: 45px;
 }
 #team{
   max-width: 1440px;
   display: flex;
   gap:73px;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
 }
 .team-group{
   margin-top: 130px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 24px;
   margin-bottom: 130px;
 }
 .text {
   /*border: 1px solid rebeccapurple;*/
   max-width: 537px;

 }
 .text h3{
   font-size: 45px;
   font-weight: mixed;
 }
 .a{
   color: #727272;
 }
 .b{
   color: #131313;
 }
 .c{
   color: #FF900E;
 }
 .text p{
   margin-top: 24px;
   margin-bottom: 32px;
   font-size: 16px;
   line-height: 26px;
   color: #131313;
 }
 #features{
   max-width: 1440px;
   display: flex;
   gap:54px;
   margin: 0 auto;
  /* border: 1px solid red;*/
 }
 .f-image{
   max-width: 709px;
   padding: 0 0 77px 77px;
 }
 .features-container{
  max-width: 586px;
   /*border: 1px solid rebeccapurple;*/
 }
 .border{
   border-left: 5px solid #FF900E;
   height: 106px;
   padding-left: 21px;
 }
 .features-heading h2{
   max-width: 468px;
   font-size: 45px;
   font-weight: 700px;
   color: #131313;
   margin:30px 0;
   
   
 }
 .features-heading p{
   
   font-size: 16px;
   line-height: 26px;
   color: #727272;
   margin-bottom: 30px
 }
 .features-card{
   max-width: 586px;
   /*border: 1px solid red;*/
   margin-bottom: 38px;
 }
 .features-card-container{
   max-width: 586px;
   /*border: 1px solid salmon;*/
   padding: 30px 42px 30px 30px;
   margin-bottom: 20px;
   border-radius: 8%;
   box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
 }
 .features-card-container h2{
   font-size: 20px;
   font-weight: 600px;
   color: #131313;
   margin-bottom: 10px;
 }
 .features-card-container p{
   font-size: 16px;
   line-height: 26px;
   color: #727272;
 }
 
 .year{
   max-width: 342px;
   background-color: #FF900E;
   color: #FFFFFF;
   padding: 46px 42px 45px 42px;
   font-size: 20px;
   font-weight: 600px;
   border-radius: 5%;
   margin: -120px 0 -77px -92px;
   
 }
 .s{
   font-size: 46px;
   font-weight: 700px;
 }
 #fact{
  max-width: 1440px;
  margin: 0 auto;
 }
 .fact-container{
  max-width: 550px;
 }
 .fact-heading h2{
  max-width: 258px;
  font-size: 45px;
  font-weight: 700px;
  margin: 130px 0 24px 0px;
 }
 .fact-heading p{
  max-width: 542px;
  font-size: 16px;
  line-height: 26px;
  color: #727272; 
 }
 .fact-cards{
  display: flex;
  justify-content: space-between;
 /* gap: 124.17px;*/
  /*border: 1px solid red ;*/
 }
 .fact-card-container{
  max-width: 242px;
  border: 1px solid #FF900E;
  margin-top: 101px;
  text-align: center;
  padding: 46px 0;
  border-radius: 5%;
 }
 .number{
  font-size: 45px;
  font-weight: 600px;
  color: #424242;
 }
 .card-text{
  font-size: 20px;
  font-weight: 600px;
  color: #727272;
  padding: 0 36px 60px 36px;
 }
 .card-text-1{
  font-size: 20px;
  font-weight: 600px;
  color: #727272;
  padding: 0 58px 57px 58px;
 }

 .fact-card-container-1{
    max-width: 242px;
    border: 1px solid #FF900E;
    margin-top: 101px;
    margin-left: 51px;
    text-align: center;
    padding: 46px 0;
    border-radius: 5%;
   }
   .fact-card-container-2{
    max-width: 242px;
    border: 1px solid #FF900E;
    margin-top: 101px;
   margin-right: 51px;
    text-align: center;
    padding: 46px 0;
    border-radius: 5%;
   }
   #footer{
    margin: 0 auto;
    max-width: 1440px;
   }
   .footer-container{
    max-width: 542px;
   /* border: 1px solid red; */
    margin: 0 auto;
    text-align: center;
   }
   .footer-section-heading h2{
    font-size: 45px;
    font-weight: 700px;
    color: #131313;
    /*padding: 0 108px;*/
    margin-top: 181px;
    margin-bottom: 24px;
   }
   .footer-section-heading p{
    font-size: 16px;
    line-height: 26px;
    color: #727272; 
    margin-bottom: 50px;
   }
   .footer-image{
    display: flex;
    justify-content: space-between;
   }
   .footer-text{
    text-align: center;
    margin-top: 169px;
   /* border: 1px solid rebeccapurple;*/
    background-color: #FFF4E7;
    color: #424242;
    font-size: 20px;
    padding: 39px 0 38px 0;
    border-radius: 5%;
    margin-bottom: 216px;
   }